@import "bootstrap/scss/bootstrap-reboot.scss";
@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/_buttons.scss";

.c-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  /*justify-content: center;*/
}

.c-menuColumn{
  position: relative;
  padding: 5em 2em;

  width: 30%;
  min-height: 100vh;
  background: #E0DADA;
  color: #333;
}

.c-menuAdminArea{
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 1.2em;
}

.c-mainColumn{
  position: relative;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
